body {
	background-color: #3b5998;
}
img {
	width: 100%;
}

button {
	width: 50%;
	height: 50%;
	font-family: inherit;
}


#content {
	width: 80%;
	margin: auto;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: ivory;
	text-shadow: 2px 2px #000000;
}





#input {
	
	display: flex;
}


#sunrise {
	width: 100%;
}

#sunriseBox {
	width: 75%;
}

#sunset {
	width: 100%;
	

}
#sunsetBox {
	width: 75%;
}


#Button0 {
	width: 50%;
	height: 50%;
	font-family: inherit;
}

#Button25 {
	width: 50%;
	height: 50%;
	font-family: inherit;
}

#Button50 {

}
